extends layout

block content
    form(class="form" action="" method="post")
        h1 What programming language do you prefer?
        input(type='text' class="input--1")
        input(type='text' class="input--2")
        button(class="button") Use answers