extends layout

block content
    form(class="form" action="" method="")
        div(class="field")
            label Question you want to ask
            input(type='text' class="input--1" name='input1')
        div(class="field")
            label Possible answer 1
            input(type='text' class="input--2" name='input2')
        div(class="field")
            label Possible answer 2
            input(type='text' class="input--3" name='input3')
        button(class="button" type="submit") Use answers