extends layout

block content
    h1.q No question asked.
    div(class='answers')
        div(class= 'answer answer--1')
            p(class='p--1') percent 1
            a(href='#' class="answer__link--1")
                div(class = 'answer__inside')
                    p
        div(class= 'answer answer--2')
            p(class='p--2') percent 2
            a(href='#' class="answer__link--2")
                div(class= 'answer__inside')
                    p

